<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container"> <a class="navbar-brand" href="#">
        <b> WIBIAS FUAD</b>
      </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar11">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar11">
        <a class="btn btn-default navbar-btn mx-3 btn-dark text-light" style="	box-shadow: 0px 0px 4px  black, 0px 0px 4px  black, 0px 0px 4px  black;" href="/">Landing Page</a><a class="btn btn-default navbar-btn mr-3 btn-light text-dark" style="	box-shadow: 0px 0px 4px  black, 0px 0px 4px  black, 0px 0px 4px  black;" href="/MyProfile">Profile Page</a><a class="btn btn-default navbar-btn btn-dark text-light" style="	box-shadow: 0px 0px 4px  black, 0px 0px 4px  black, 0px 0px 4px  black;" href="/TuturTegur">Tutur Tegur</a></div>
    </div>
  </nav>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="text-center my-4 w-100 bg-dark text-light py-2" style="">My Profile</h3>
          <div class="row">
            <div class="col-md-12"><img class="img-fluid d-block my-4 mx-auto" src="https://i.ibb.co/PwxVzbh/Wibias-merah.jpg" width="400
200" style="" height="300
300"></div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="lead">I am an undergraduate student at Computer Science, Universitas Indonesia, class of 2018. Born in Jakarta, 12 May 2000. My hobby is communicating with other people and reading books, especially novel. I like swimming and play volleyball.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"> </li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"> </li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active" data-interval="10000"> <img class="d-block img-fluid w-100" src="https://i.ibb.co/j5P71HQ/MYDREAM.png">
              </div>
              <div class="carousel-item" data-interval="10000"> <img class="d-block img-fluid w-100" src="https://i.ibb.co/r3WV4Xp/MYDREAM-1.png">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"> </li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"> </li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active" data-interval="10000"> <img class="d-block img-fluid w-100 mx-2" src="https://i.ibb.co/F5hdQtg/STRENGTH.png">
              </div>
              <div class="carousel-item" data-interval="10000"> <img class="d-block img-fluid w-100 mx-2" src="https://i.ibb.co/F5hdQtg/STRENGTH.png
                https://i.ibb.co/S3LPc47/STRENGTH-2.png">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"> </li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"> </li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"> </li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"> </li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active" data-interval="10000"> <img class="d-block img-fluid w-50 mx-auto mt-4" src="https://i.ibb.co/PYR9wg2/EXP.png">
              </div>
              <div class="carousel-item " data-interval="10000
3"> <img class="d-block img-fluid w-50 mx-auto mt-4" src="https://i.ibb.co/Fs1RpPm/EXP-1.png">
              </div>
              <div class="carousel-item" data-interval="10000"> <img class="d-block img-fluid w-50 mx-auto mt-4" src="https://i.ibb.co/W6G0tdX/EXP-3.png">
              </div>
              <div class="carousel-item" data-interval="10000"> <img class="d-block img-fluid w-50 mx-auto mt-4" src="https://i.ibb.co/5jR6qf9/EXP-2.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4" style="">
              <h5 class="mt-4 py-2">HIT ME UP! ON SOCIAL MEDIA :</h5>
            </div>
            <div class="col-md-4"><a class="btn text-white mt-4" href="https://twitter.com/wasabifuad" style="background: rgb(85, 172, 238);" target="_blank"><i class="fa fa-twitter fa-fw fa-1x py-1"></i> Tweet : Wasabifuad</a></div>
            <div class="col-md-4"><a class="btn text-white mt-4" href="https://www.facebook.com/wibias.fuad" style="background: rgb(59, 89, 152);" target="_blank"><i class="fa fa-facebook-square fa-fw fa-1x py-1"></i>&nbsp;Facebook : Wibias Fuad</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" style=""></script>
  
</body>

</html>